@model Admin_Page.Employee

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Role)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpEnrollNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpEnrollNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MainStoreId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MainStoreId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BrandId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrandId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Salary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateStartWork)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateStartWork)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeRegency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeRegency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeSex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeSex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalCardId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalCardId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatePersonalCard)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatePersonalCard)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlaceOfPersonalCard)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlaceOfPersonalCard)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MainAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MainAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeHometown)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeHometown)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeePlaceBorn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeePlaceBorn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateQuitWork)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateQuitWork)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReasonQuit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReasonQuit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalIncomTax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalIncomTax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaritalStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaritalStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SocialInsuranceNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SocialInsuranceNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bank)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bank)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EducationType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EducationType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EducationStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EducationStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EducationQualify)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EducationQualify)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Specialized)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Specialized)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SchoolName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SchoolName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FormOfTraining)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FormOfTraining)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactOne)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactOne)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactTwo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactTwo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            <img src="data:image/png;base64,@Html.DisplayFor(model => model.Image)" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeGroup.CodeGroup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeGroup.CodeGroup)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
